# - Initial release: Run 'New-GUID' to generate a unique GUID for identifying the module on PSGallery. Then fill in all other relevant details.
# - Subsequent releases: Update all relevant details.
# - To publish the module, tag the commit that is to be published and push the tag.
# - You can use dev-entrypoint.ps1 in your development environment to simulate generation of the manifest.

@{
    RootModule = 'MyPowershellModule.psm1'
    # ModuleVersion = ''                            # Value will be set on a release based on the release tag. Defaults to '0.0.0' in development environments and regular CI builds
    GUID = 'add-your-unique-guid-here'
    Author = 'My Name'
    CompanyName = 'My Company Name'
    Copyright = '(c) 2019 My Name'
    Description = 'A description of MyPowershellModule.'
    PowerShellVersion = '3.0'
    # PowerShellHostName = ''
    # PowerShellHostVersion = ''
    # DotNetFrameworkVersion = ''
    # CLRVersion = ''
    # ProcessorArchitecture = ''
    # RequiredModules = @()
    # RequiredAssemblies = @()
    # ScriptsToProcess = @()
    # TypesToProcess = @()
    # FormatsToProcess = @()
    # NestedModules = @()
    FunctionsToExport = @(
        'My-PublicFunction1'
    )
    CmdletsToExport = @()
    VariablesToExport = @()
    AliasesToExport = @()
    # DscResourcesToExport = @()
    # ModuleList = @()
    # FileList = @()
    PrivateData = @{
        # PSData = @{           # Properties within PSData will be correctly added to the manifest via Update-ModuleManifest without the PSData key. Leave the key commented out.
            Tags = @(
                'mycooltag'
            )
            LicenseUri = 'https://github.com/myusername/MyPowershellModule/blob/master/LICENSE'
            ProjectUri = 'https://github.com/myusername/MyPowershellModule'
            # IconUri = ''
            # ReleaseNotes = ''
            # Prerelease = ''
            # RequireLicenseAcceptance = $false
            # ExternalModuleDependencies = @()
        # }
        # HelpInfoURI = ''
        # DefaultCommandPrefix = ''
    }
}
