trigger:
  branches:
    include:
    - '*'
  tags:
    include:
    - '*'
pr:
  branches:
    include:
    - '*'

resources:
  repositories:
  - repository: PSModulePublisher
    type: github
    name: theohbrothers/PSModulePublisher
    endpoint: myserviceconnection                   # Check for your 'Type: Github' connection under 'Project Settings' > 'Service connections'
    ref: refs/tags/vx.x.x

stages:
- stage: build_test_publish
  displayName: Build, Test, Publish
  jobs:
  - job: macos
    displayName: '[macOS]'
    pool:
      vmImage: macOS-10.14
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/macos/continuous-build.yml@PSModulePublisher
    - template: templates/azure-pipelines/macos/publish.yml@PSModulePublisher
