trigger:
  branches:
    include:
    - '*'
  tags:
    include:
    - '*'
pr: none

resources:
  repositories:
  - repository: PSModulePublisher
    type: github
    name: theohbrothers/PSModulePublisher
    endpoint: myserviceconnection                   # Check for your 'Type: Github' connection under 'Project Settings' > 'Service connections'
    ref: refs/tags/vx.x.x

stages:
- stage: Build_Test_Publish
  displayName: Build, Test, Publish
  jobs:
  - job: macOS
    pool:
      vmImage: macOS-10.13
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/macos/continuous-build.yml@PSModulePublisher
    - template: templates/azure-pipelines/publish.yml@PSModulePublisher
