trigger:
  branches:
    include:
    - '*'
  tags:
    include:
    - '*'
pr: none

resources:
  repositories:
  - repository: PSModulePublisher
    type: github
    name: theohbrothers/PSModulePublisher
    endpoint: myserviceconnection                   # Check for your 'Type: Github' connection under 'Project Settings' > 'Service connections'
    ref: refs/tags/vx.x.x

stages:
- stage: Build_Test
  displayName: Build, Test
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/windows/pwsh/continuous-build.yml@PSModulePublisher
  - job: Linux
    pool:
      vmImage: ubuntu-16.04
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/linux/continuous-build.yml@PSModulePublisher
- stage: Publish
  dependsOn:
  - Build_Test
  jobs:
  - job: Windows
    pool:
      vmImage: windows-2019
    steps:
    - checkout: self
      submodules: recursive
    - template: templates/azure-pipelines/windows/pwsh/continuous-build.yml@PSModulePublisher
    - template: templates/azure-pipelines/publish.yml@PSModulePublisher
